@{
    ViewData["Title"] = "Home Page";
}

<!-- ABOUT PAGE -->

<div class="box alt container">
    <section class="feature left">
        <a><img class="image" src="~/css/images/Paper.jpg" alt="" /></a>
        <div class="content">
            <h3 class="text-success">Planning</h3>
            <p>The process began on paper. I wrote out what this projects function was and wrote out some goals I wanted to acomplish.</p>
        </div>
    </section>
    <section class="feature right">
        <a><img class="image" src="~/css/images/ConsoleApp.png" alt="" /></a>
        <div class="content">
            <h3 class="text-success">Great Advice</h3>
            <p>My instructor, Jeremy, gave me some really good advice on creating the console app version of what I wanted to ultimately make. This greatly helped me structure my final project.</p>
        </div>
    </section>
    <section class="feature left">
        <a><img class="image" src="~/css/images/Before_redesign.png" alt="" /></a>
        <div class="content">
            <h3 class="text-success">It's alive!</h3>
            <p>After a few trials I had my project running. Up until this point I had spent most of my time working on the backend, which is obvious when looking at the original styling.</p>
        </div>
    </section>
    <section class="feature right">
        <a><img class="image" src="~/css/images/CarouselCode.png" alt="" /></a>
        <div class="content">
            <h3 class="text-success">Self-editing</h3>
            <p>I spent a ridiculously amount of time getting a carousel to work. While I ended up scrapping this for the final, this provided a great learning opportunity.</p>
        </div>
    </section>
     <section class="feature left">
        <a><img class="image" src="~/css/images/Carousel.png" alt="" /></a>
        <div class="content">
            <h3 class="text-success">RIP</h3>
            <p>The carousel that had me up litteraly all night. It wasn't much to look at, but I was proud of it.</p>
        </div>
    </section>
    <section class="feature right">
        <a><img class="image" src="~/css/images/OldResults.png" alt="" /></a>
        <div class="content">
            <h3 class="text-success">Time for a makeover!</h3>
            <p>The old results page needed work also. I never liked how spread out it looked, this again would be another great learning opportunity.</p>
        </div>
    </section>
    

</div>